@use '../abstract/variables';

.l-editor{
  width: 100%;
  max-width: 120rem;
  padding: 0 variables.$space-2xl;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: variables.$space-2xl;

  &__box{
    max-width: 100%;
  }
}

.ck.ck-editor__editable_inline{
  word-break: break-word;
  overflow-wrap: break-word;
}
