@use '../abstract/helpers';
@use '../abstract/variables';

$img-size: 8rem;

.l-form-section{
  display: grid;
  row-gap: variables.$space-lg;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;

  &__img{
    height: $img-size;
    width: auto;
  }

  &__links{
    display: grid;
    row-gap: variables.$space-sm;
    justify-items: center;
  }

  &__link{
    font-size: variables.$text--md;

    a{
      @extend %link-base;
      color: var(--color--main-base);
      font-weight: 500;
      transition: color variables.$a-time--short ease;

      &:hover{
        color: var(--color--main-dark--1);
      }
    }
  }
}