@use '../abstract/helpers';
@use '../abstract/mixins';
@use '../abstract/variables';

.c-my-article{
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 4.8rem;

  &__options{
    display: grid;
    row-gap: 2.4rem
  }

  &__btn{
    @extend %button-reset;
    @extend %link-text-hover;
    @include mixins.center-flex;

    transition: color variables.$a-time--short ease;

    &_delete{
      @extend .c-my-article__btn;
      color: var(--color--error-base);

      &:hover{
        color: var(--color--error-dark)
      }
    }
  }
}